* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}
main.home-page-bg {
    height: 856px
}

main h1 {
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 600;
    font-size: 250px;
    margin: 0;
    color: rgba(0, 0, 0, 0.16);
    padding-top: 365px;
    padding-left: 159px;
}

main p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    color: rgba(0, 0, 0, 0.16);
    padding-left: 159px;
}

* {
    width: 100% !important;
}