.calculator-main-section {
    padding-top: 30px;
    padding-left: 80px;
    padding-bottom: 55px;
}

.calc-tips-section {
    width: 1720px !important;
    height: 150px;
    background-color: #FDFFF5;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.calc-tip {
    display: flex;
}

.calc-tip p{
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.tips-rectangle {
  width: 90px !important;
  height: 90px !important;
  border-radius: 50%;
  background-color: #79BD8F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 4px;
  font-size: 40px !important;
  margin-top: 10px !important;
}

.tip-text {
    margin-left: 15px !important;
    width: 480px !important;
}

.calc-fields-section {
    width: 1720px !important;
    background-color: #FDFFF5;
    border-radius: 20px;
}

.calc-fields-section h1 {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.calc-title-underline {
    border-bottom: #000000 solid 1px;
    margin-left: 20px;
    width: 1680px !important;
    margin-bottom: 80px;
}

.calc-direction-container {
    width: 350px !important;
    margin-left: 70px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* <-- вертикальное выравнивание по центру */
    gap: 10px; /* промежутки между элементами */
}

.calc-direction-container input {
    width: 350px !important;
    height: 30px;
    border-radius: 20px;
    border: #000000 1px solid;
    background-color: #FDFFF5;
    padding-left: 10px;
    font-size: 18px;
}

.calc-package-container {
    margin-left: 70px;
}

.calc-package-container input {
    width: 160px !important;
    height: 30px;
    border-radius: 20px;
    border: #000000 1px solid;
    background-color: #FDFFF5;
    padding-left: 10px;
    font-size: 18px;
}

.calc-length-field {
    margin-left: 30px;
    margin-right: 130px;
}

.calc-width-field {
    margin-right: 30px;
}

.calc-deliverytype-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 70px;
  margin-top: 50px;
}

.calc-deliverytype-container label {
    margin-top: 20px;
    width: 200px !important;
}

.calc-deliverytype-container span {
    width: 20px !important;
    padding-top: 15px;
}

.radio-square label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.radio-square input[type="radio"] {
  display: none;
}

.radio-square span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 6px;
  margin-right: 8px;
  position: relative;
}

.radio-square input[type="radio"]:checked + span::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 2px;
}

.calc-deliverytype-container label {
    font-size: 18px;
}

.calc-calendar-container {
    margin-left: 550px;
    margin-top: 30px;
}

.calc-calendar-container input {
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #FDFFF5;
    padding-right: 10px;
    width: 160px !important;
    border: 1px solid black;
}

.calc-calculate {
    width: 200px !important;
    margin-left: 300px;
    background-color: #79BD8F;
    border: #000000 solid 1px;
    border-radius: 10px;
    font-size: 18px;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.calc-swap-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 30px;
  height: 30px;
  width: 50px !important;
}

.calc-swap-button img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.calc-swap-button:hover {
  background-color: #FDFFF5;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
